/* Reset default margin and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 }
 
 .container {
  /* min-width: 320px; */
  /* margin: 0 auto; */
  /* padding: 20px; */
 }
 
 @media (max-width: 1400px) {
  .container {
    max-width: 1320px;
  }
 }
 
 @media (max-width: 1200px) {
  .container {
    max-width: 1140px;
  }
 }
 
 @media (max-width: 992px) {
  .container {
    max-width: 960px;
  }
 }
 
 @media (max-width: 768px) {
  .container {
    max-width: 720px;
  }
 }
 
 @media (max-width: 576px) {
  .container {
    max-width: 556px;
  }
 }

 /* container */

 .header {
  position: absolute;
  background-color: transparent;
  padding: 15px;
  top: 0;
  right: 0;
  left: 0;
 }

 .header-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.heder-nav-menu-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin-top: 25px;
  font-size: 35px;
}

@media (max-width:1024px) {
  .heder-nav-menu-wrapper {
    display: none;
  }
  
}

nav ul li {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

.hamBurger-close {
  display: none;
}

nav.active .hamBurger-close {
  display: block;
  display: flex;
  float: right;
  margin-bottom: 50px;
  margin-right: 25px;
}


nav.active .header-nav-menu {
  display: flex;
  flex-direction: column;
  background-color: blue;
  height: 100%;
  width: 100%;
}

nav.active .heder-menu {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 25px;
  /* background-color: blue;
  height: 100%;
  width: 100%; */
  font-size: 50px;
  margin-bottom: 30px;
}

nav.active .heder-menu-wrapper {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  display: block;
  background-color: blue;
  height: 100vh;
  width: 100%;
  padding-top: 20px;
  transition: all 0.5s;
}

.logo {
  font-size: 40px;
  color: white;
}

.hamburger {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  padding-right: 10px;

}

.hamburger span {
  width: 50px;
  height: 2px;
  display: inline-block;
  background-color: white;
  border-radius: 100%;
  margin-bottom: 10px;

}

@media (max-width: 1024px) {
  .navBar {
display: none;  }
}

@media (min-width: 1024px) {
.hamburger {
  display: none
}
}
 
 .hero-image {
  background-image: url("./assets/images/hero-image.jpg");
  background-size: cover;
  height: 808px;
  background-position: center;
  border: 1px solid #E5E5E5;
  background-repeat: no-repeat;
  margin-bottom: 50px;
 }
 
 /* Footer Styles */
 
 